<!DOCTYPE html>
<html>
  <head>
    <title>Home | Mi sitio web</title>
    <link rel="stylesheet" href="http://localhost:5000/estilos.css">
  </head>
  <body>
    <header class="home">
      <nav>
        <ul>
          <li><a href="http://localhost:5000/registroMascotas">Registro</a></li>
          <li><a href="http://localhost:5000/registroUser">Acceder</a></li>
          <li><a href="http://localhost:5000/registroMembresia">Registro membresia</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Bienvenidos PetCare</h1>
      <p>¡Aquí cuidamos a todas tus mascotas con amor y dedicación!</p>
		 <img src="https://i.imgur.com/gVrZ4Zc.jpeg" alt="Imagen de veterinaria"> </main> </body>
    </main>
  </body>
</html>